nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='')
        img(src='./images/logo.png')
        span Pentex
    //
      <div class="collapse navbar-collapse">
      <form class="navbar-form" role="search">
      <div class="input-group">
      <input type="text" name="search" autocomplete="off" class="form-control" placeholder="Search" />
      <div class="input-group-btn">
      <button class="btn btn-sm btn-default" type="submit">
      <i class="icon icon-magnifier"></i>
      </button>
      </div>
      </div>
      </form>
      </div>
    ul.nav.navbar-nav.navbar-top-links.navbar-right
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown' href='#' aria-expanded='true')
          i.icon.icon-envelope-open
        ul.dropdown-menu.dropdown-messages
          li
            a(href='#')
              div
                strong John Smith
                span.pull-right.text-muted
                  em Yesterday
              div
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li.divider
          li
            a(href='#')
              div
                strong John Smith
                span.pull-right.text-muted
                  em Yesterday
              div
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li.divider
          li
            a(href='#')
              div
                strong John Smith
                span.pull-right.text-muted
                  em Yesterday
              div
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li.divider
          li
            a.text-center(href='#')
              strong Read All Messages
              i.fa.fa-angle-right
        // /.dropdown-messages
      // /.dropdown
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown' href='#' aria-expanded='false')
          i.icon.icon-bell
        ul.dropdown-menu.dropdown-tasks
          li
            a(href='#')
              div
                p
                  strong Task 1
                  span.pull-right.text-muted 40% Complete
                .progress.progress-striped.active
                  .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width: 40%')
                    span.sr-only 40% Complete (success)
          li.divider
          li
            a(href='#')
              div
                p
                  strong Task 2
                  span.pull-right.text-muted 20% Complete
                .progress.progress-striped.active
                  .progress-bar.progress-bar-info(role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='width: 20%')
                    span.sr-only 20% Complete
          li.divider
          li
            a(href='#')
              div
                p
                  strong Task 3
                  span.pull-right.text-muted 60% Complete
                .progress.progress-striped.active
                  .progress-bar.progress-bar-warning(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    span.sr-only 60% Complete (warning)
          li.divider
          li
            a(href='#')
              div
                p
                  strong Task 4
                  span.pull-right.text-muted 80% Complete
                .progress.progress-striped.active
                  .progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100' style='width: 80%')
                    span.sr-only 80% Complete (danger)
          li.divider
          li
            a.text-center(href='#')
              strong See All Tasks
              i.fa.fa-angle-right
        // /.dropdown-tasks
      // /.dropdown
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown' href='#' aria-expanded='false')
          i.icon.icon-drawer
        ul.dropdown-menu.dropdown-alerts
          li
            a(href='#')
              div
                i.fa.fa-comment.fa-fw
                |  New Comment
                span.pull-right.text-muted.small 4 minutes ago
          li.divider
          li
            a(href='#')
              div
                i.fa.fa-twitter.fa-fw
                |  3 New Followers
                span.pull-right.text-muted.small 12 minutes ago
          li.divider
          li
            a(href='#')
              div
                i.fa.fa-envelope.fa-fw
                |  Message Sent
                span.pull-right.text-muted.small 4 minutes ago
          li.divider
          li
            a(href='#')
              div
                i.fa.fa-tasks.fa-fw
                |  New Task
                span.pull-right.text-muted.small 4 minutes ago
          li.divider
          li
            a(href='#')
              div
                i.fa.fa-upload.fa-fw
                |  Server Rebooted
                span.pull-right.text-muted.small 4 minutes ago
          li.divider
          li
            a.text-center(href='#')
              strong See All Alerts
              i.fa.fa-angle-right
        // /.dropdown-alerts
      // /.dropdown
      li.dropdown.dropdown-user
        a#download.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' aria-expanded='true')
          span.avatar
            img(src='./images/avatar/login-user.png' alt='avatar')
          span.user-name Danni Bla
        ul.dropdown-menu(aria-labelledby='download')
          li
            a(href='#')
              i.icon.icon-emotsmile
              | Edit Profile
          li
            a(href='#')
              i.icon.icon-envelope
              | My Inbox
          li
            a(href='#')
              i.icon.icon-event
              | My Events
          li
            a(href='#')
              i.icon.icon-bubbles
              | Chats
          li.divider
          li
            a(href='#')
              i.icon.icon-logout
              | Logout
      // /.dropdown
    ul.nav.navbar-nav.navbar-left
      //
        <li class="navbar-search">
        <form class="navbar-form" role="search">
        <div class="input-group">
        <input type="text" name="search" autocomplete="off" class="form-control" placeholder="Search" />
        <div class="input-group-btn">
        <button class="btn btn-sm btn-default" type="submit">
        <i class="icon icon-magnifier"></i>
        </button>
        </div>
        </div>
        </form>
        </li>
nav.navbar.navbar-default.navbar-fixed-left.hidden-xs
  .container
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.navbar-default
          a(href='/home')
            i.icon-home
            span Dashboard
        li.navbar-default.dropdown.mega-dropdown
          a.dropdown-toggle(href='#' title='Chart' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            i.icon.icon-chart
            span Chart&apos;s
          ul.navbar-default.dropdown-menu.mega-dropdown-menu
            li.dropdown-submenu.mega-dropdown
              a.dropdown-click(title='Report' href='#') Highcharts
            li.dropdown-submenu.mega-dropdown
              a.dropdown-click(title='Report' href='#') Fusioncharts
        li.navbar-default.dropdown.mega-dropdown
          a.dropdown-toggle(href='/tables' title='Datatables')
            i.icon-grid
            span Datatables
        li.navbar-default.dropdown.mega-dropdown
          a.dropdown-toggle(href='/forms' title='Input Forms')
            i.icon-note
            span Input Forms
        li.navbar-default.dropdown.mega-dropdown
          a.dropdown-toggle(href='#' title='Elements' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            i.icon-layers
            span Elements
          ul.navbar-default.dropdown-menu.mega-dropdown-menu
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Panels' href='/elements/panels') Panels
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Buttons' href='/elements/buttons') Buttons
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Notification' href='/elements/notification') Notification
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Typography' href='/elements/typography') Typography
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Icons' href='/elements/icons') Icons
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Grid' href='/elements/grid') Grid
        li.navbar-default.dropdown.mega-dropdown
          a.dropdown-toggle(href='#' title='Multi Level Sub Menu' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            i.icon-bulb
            span Sub Menu
          ul.navbar-default.dropdown-menu.mega-dropdown-menu
            li.dropdown-submenu.mega-dropdown
              a.dropdown-click(tabindex='-1' title='Report' href='#') Sub Menu Level - 1
              ul.navbar-default.dropdown-menu.mega-dropdown-menu.inner-menu
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 1 - 1
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 1 - 2
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 1 - 3
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 1 - 4
            li.dropdown-submenu.mega-dropdown
              a.dropdown-click(tabindex='-1' title='Report' href='#') Sub Menu Level - 2
              ul.navbar-default.dropdown-menu.mega-dropdown-menu.inner-menu
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 2 - 1
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 2 - 2
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 2 - 3
                li
                  a(tabindex='-1' href='#') Sub Menu Level - 2 - 4
        li.navbar-default.dropdown.mega-dropdown
          a.dropdown-toggle(href='#' title='Sample Pages' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            i.icon-puzzle
            span Sample Pages
          ul.navbar-default.dropdown-menu.mega-dropdown-menu
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Blank Page' href='/pages/blank') Blank Page
            li.dropdown-submenu.mega-dropdown
              a(tabindex='-1' title='Login Page' href='/pages/login') Login Page
        //
          <li class="navbar-default dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" title="Settings" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="icon-settings"></i> <span>Setting</span></a>
          <ul class="navbar-default dropdown-menu mega-dropdown-menu">
          <li class="dropdown-submenu mega-dropdown">
          <a class="dropdown-click" tabindex="-1" title="Layout" href="#">Layout</a>
          <ul class="navbar-default dropdown-menu mega-dropdown-menu inner-menu">
          <li><a onclick="setNav('navbar-side')">Icons</a></li>
          <li><a onclick="setNav('navbar-side-card')">Tiles</a></li>
          <li><a onclick="setNav('navbar-side-label')">Contents</a></li>
          </ul>
          </li>
          </ul>
          </li>
script(type='text/javascript').
  $('.dropdown-submenu a.dropdown-click').on("click", function (e) {
  $('ul.inner-menu').hide();
  $('.dropdown-submenu a.dropdown-click').removeClass('open');
  $(this).addClass('open');
  $(this).next('ul').toggle();
  e.stopPropagation();
  e.preventDefault();
  });
  $(document).on('click', '.navbar .dropdown-menu', function (e) { e.stopPropagation(); });
  function setNav(navType) {
  UserNavStyle = navType;
  $('body[class*="navbar-"]').removeClass("navbar-none navbar-top navbar-top-label navbar-top-card navbar-side navbar-side-label navbar-side-card");
  $('body').addClass(navType);
  }
  $('a[href="#navbar-more-show"], .navbar-more-overlay').on('click', function (event) {
  event.preventDefault();
  $('body').toggleClass('navbar-more-show');
  if ($('body').hasClass('navbar-more-show')) {
  $('a[href="#navbar-more-show"]').closest('li').addClass('active');
  } else {
  $('a[href="#navbar-more-show"]').closest('li').removeClass('active');
  }
  return false;
  });
