    /*
    Flaticon icon font: Flaticon
    Creation date: 30/01/2019 11:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-target:before { content: "\f100"; }
.flaticon-discount:before { content: "\f101"; }
.flaticon-placeholder:before { content: "\f102"; }
.flaticon-route:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-curriculum:before { content: "\f105"; }
.flaticon-man:before { content: "\f106"; }
.flaticon-files:before { content: "\f107"; }
.flaticon-profits:before { content: "\f108"; }
.flaticon-connection:before { content: "\f109"; }
.flaticon-symbol:before { content: "\f10a"; }
.flaticon-delivery-truck:before { content: "\f10b"; }
.flaticon-buildings:before { content: "\f10c"; }
.flaticon-multiply:before { content: "\f10d"; }
.flaticon-transport:before { content: "\f10e"; }
.flaticon-warehouse:before { content: "\f10f"; }
.flaticon-clipboard:before { content: "\f110"; }
.flaticon-people-1:before { content: "\f111"; }
.flaticon-ship:before { content: "\f112"; }
.flaticon-forklift:before { content: "\f113"; }
.flaticon-justice:before { content: "\f114"; }
.flaticon-money:before { content: "\f115"; }
.flaticon-coins:before { content: "\f116"; }
.flaticon-coins-1:before { content: "\f117"; }
.flaticon-money-1:before { content: "\f118"; }
.flaticon-street:before { content: "\f119"; }
.flaticon-arrows:before { content: "\f11a"; }
.flaticon-conversation:before { content: "\f11b"; }
.flaticon-growth:before { content: "\f11c"; }
.flaticon-workers:before { content: "\f11d"; }
.flaticon-business:before { content: "\f11e"; }
.flaticon-business-1:before { content: "\f11f"; }
.flaticon-technology:before { content: "\f120"; }
.flaticon-list:before { content: "\f121"; }
.flaticon-location:before { content: "\f122"; }
.flaticon-stats:before { content: "\f123"; }
.flaticon-analytics:before { content: "\f124"; }
.flaticon-back-arrow-circular-symbol:before { content: "\f125"; }
.flaticon-quality:before { content: "\f126"; }
.flaticon-blogging:before { content: "\f127"; }
.flaticon-customer:before { content: "\f128"; }
.flaticon-box:before { content: "\f129"; }
.flaticon-viral-marketing:before { content: "\f12a"; }
.flaticon-arrows-1:before { content: "\f12b"; }
.flaticon-list-1:before { content: "\f12c"; }
.flaticon-arrows-2:before { content: "\f12d"; }
.flaticon-price-tag:before { content: "\f12e"; }
.flaticon-rich:before { content: "\f12f"; }
.flaticon-calendar:before { content: "\f130"; }
    
    $font-Flaticon-target: "\f100";
    $font-Flaticon-discount: "\f101";
    $font-Flaticon-placeholder: "\f102";
    $font-Flaticon-route: "\f103";
    $font-Flaticon-people: "\f104";
    $font-Flaticon-curriculum: "\f105";
    $font-Flaticon-man: "\f106";
    $font-Flaticon-files: "\f107";
    $font-Flaticon-profits: "\f108";
    $font-Flaticon-connection: "\f109";
    $font-Flaticon-symbol: "\f10a";
    $font-Flaticon-delivery-truck: "\f10b";
    $font-Flaticon-buildings: "\f10c";
    $font-Flaticon-multiply: "\f10d";
    $font-Flaticon-transport: "\f10e";
    $font-Flaticon-warehouse: "\f10f";
    $font-Flaticon-clipboard: "\f110";
    $font-Flaticon-people-1: "\f111";
    $font-Flaticon-ship: "\f112";
    $font-Flaticon-forklift: "\f113";
    $font-Flaticon-justice: "\f114";
    $font-Flaticon-money: "\f115";
    $font-Flaticon-coins: "\f116";
    $font-Flaticon-coins-1: "\f117";
    $font-Flaticon-money-1: "\f118";
    $font-Flaticon-street: "\f119";
    $font-Flaticon-arrows: "\f11a";
    $font-Flaticon-conversation: "\f11b";
    $font-Flaticon-growth: "\f11c";
    $font-Flaticon-workers: "\f11d";
    $font-Flaticon-business: "\f11e";
    $font-Flaticon-business-1: "\f11f";
    $font-Flaticon-technology: "\f120";
    $font-Flaticon-list: "\f121";
    $font-Flaticon-location: "\f122";
    $font-Flaticon-stats: "\f123";
    $font-Flaticon-analytics: "\f124";
    $font-Flaticon-back-arrow-circular-symbol: "\f125";
    $font-Flaticon-quality: "\f126";
    $font-Flaticon-blogging: "\f127";
    $font-Flaticon-customer: "\f128";
    $font-Flaticon-box: "\f129";
    $font-Flaticon-viral-marketing: "\f12a";
    $font-Flaticon-arrows-1: "\f12b";
    $font-Flaticon-list-1: "\f12c";
    $font-Flaticon-arrows-2: "\f12d";
    $font-Flaticon-price-tag: "\f12e";
    $font-Flaticon-rich: "\f12f";
    $font-Flaticon-calendar: "\f130";