<a href="index" >
  <i class="icon-bar-chart"></i>
  <span class="title">Dashboard 1</span>
</a>

<a href="dashboard_2" >
  <i class="icon-bulb"></i>
  <span class="title">Dashboard 2</span>
  <span class="badge badge-success">1</span>
</a>

<a href="dashboard_3" >
  <i class="icon-graph"></i>
  <span class="title">Dashboard 3</span>
  <span class="badge badge-danger">5</span>
</a>

<a href="ui_colors" >
  <span class="title">Color Library</span>
</a>

<a href="ui_general" >
  <span class="title">General Components</span>
</a>

<a href="ui_buttons" >
  <span class="title">Buttons</span>
</a>

<a href="ui_confirmations" >
  <span class="title">Popover Confirmations</span>
</a>

<a href="ui_icons" >
  <span class="title">Font Icons</span>
</a>

<a href="ui_socicons" >
  <span class="title">Social Icons</span>
</a>

<a href="ui_typography" >
  <span class="title">Typography</span>
</a>

<a href="ui_tabs_accordions_navs" >
  <span class="title">Tabs, Accordions & Navs</span>
</a>

<a href="ui_timeline" >
  <span class="title">Timeline</span>
</a>

<a href="ui_tree" >
  <span class="title">Tree View</span>
</a>



<a href="ui_page_progress_style_1" > Flash </a>

<a href="ui_page_progress_style_2" > Big Counter </a>


<a href="ui_blockui" >
  <span class="title">Block UI</span>
</a>

<a href="ui_bootstrap_growl" >
  <span class="title">Bootstrap Growl Notifications</span>
</a>

<a href="ui_notific8" >
  <span class="title">Notific8 Notifications</span>
</a>

<a href="ui_toastr" >
  <span class="title">Toastr Notifications</span>
</a>

<a href="ui_bootbox" >
  <span class="title">Bootbox Dialogs</span>
</a>

<a href="ui_alerts_api" >
  <span class="title">Metronic Alerts API</span>
</a>

<a href="ui_session_timeout" >
  <span class="title">Session Timeout</span>
</a>

<a href="ui_idle_timeout" >
  <span class="title">User Idle Timeout</span>
</a>

<a href="ui_modals" >
  <span class="title">Modals</span>
</a>

<a href="ui_extended_modals" >
  <span class="title">Extended Modals</span>
</a>

<a href="ui_tiles" >
  <span class="title">Tiles</span>
</a>

<a href="ui_datepaginator" >
  <span class="title">Date Paginator</span>
</a>

<a href="ui_nestable" >
  <span class="title">Nestable List</span>
</a>

<a href="components_date_time_pickers" >
  <span class="title">Date & Time Pickers</span>
</a>

<a href="components_color_pickers" >
  <span class="title">Color Pickers</span>
  <span class="badge badge-danger">2</span>
</a>

<a href="components_select2" >
  <span class="title">Select2 Dropdowns</span>
</a>

<a href="components_bootstrap_select" >
  <span class="title">Bootstrap Select</span>
</a>

<a href="components_multi_select" >
  <span class="title">Multi Select</span>
</a>

<a href="components_bootstrap_select_splitter" >
  <span class="title">Select Splitter</span>
</a>

<a href="components_typeahead" >
  <span class="title">Typeahead Autocomplete</span>
</a>

<a href="components_bootstrap_tagsinput" >
  <span class="title">Bootstrap Tagsinput</span>
</a>

<a href="components_bootstrap_switch" >
  <span class="title">Bootstrap Switch</span>
  <span class="badge badge-success">6</span>
</a>

<a href="components_bootstrap_maxlength" >
  <span class="title">Bootstrap Maxlength</span>
</a>

<a href="components_bootstrap_fileinput" >
  <span class="title">Bootstrap File Input</span>
</a>

<a href="components_bootstrap_touchspin" >
  <span class="title">Bootstrap Touchspin</span>
</a>

<a href="components_form_tools" >
  <span class="title">Form Widgets & Tools</span>
</a>

<a href="components_context_menu" >
  <span class="title">Context Menu</span>
</a>

<a href="components_editors" >
  <span class="title">Markdown & WYSIWYG Editors</span>
</a>

<a href="components_code_editors" >
  <span class="title">Code Editors</span>
</a>

<a href="components_ion_sliders" >
  <span class="title">Ion Range Sliders</span>
</a>

<a href="components_noui_sliders" >
  <span class="title">NoUI Range Sliders</span>
</a>

<a href="components_knob_dials" >
  <span class="title">Knob Circle Dials</span>
</a>

<a href="form_controls" >
  <span class="title">
    Bootstrap Form
    <br>Controls
                                        </span>
</a>

<a href="form_controls_md" >
  <span class="title">
    Material Design
    <br>Form Controls
                                        </span>
</a>

<a href="form_validation" >
  <span class="title">Form Validation</span>
  <span class="selected"></span>
</a>

<a href="form_validation_states_md" >
  <span class="title">
    Material Design
    <br>Form Validation States
                                        </span>
</a>

<a href="form_validation_md" >
  <span class="title">
    Material Design
    <br>Form Validation
                                        </span>
</a>

<a href="form_layouts" >
  <span class="title">Form Layouts</span>
</a>

<a href="form_input_mask" >
  <span class="title">Form Input Mask</span>
</a>

<a href="form_editable" >
  <span class="title">Form X-editable</span>
</a>

<a href="form_wizard" >
  <span class="title">Form Wizard</span>
</a>

<a href="form_icheck" >
  <span class="title">iCheck Controls</span>
</a>

<a href="form_image_crop" >
  <span class="title">Image Cropping</span>
</a>

<a href="form_fileupload" >
  <span class="title">Multiple File Upload</span>
</a>

<a href="form_dropzone" >
  <span class="title">Dropzone File Upload</span>
</a>


<a href="elements_steps" >
  <span class="title">Steps</span>
</a>

<a href="elements_lists" >
  <span class="title">Lists</span>
</a>

<a href="elements_ribbons" >
  <span class="title">Ribbons</span>
</a>



<a href="table_static_basic" > Basic Tables </a>

<a href="table_static_responsive" > Responsive Tables </a>



<a href="table_datatables_managed" > Managed Datatables </a>

<a href="table_datatables_buttons" > Buttons Extension </a>

<a href="table_datatables_colreorder" > Colreorder Extension </a>

<a href="table_datatables_rowreorder" > Rowreorder Extension </a>

<a href="table_datatables_scroller" > Scroller Extension </a>

<a href="table_datatables_fixedheader" > FixedHeader Extension </a>

<a href="table_datatables_responsive" > Responsive Extension </a>

<a href="table_datatables_editable" > Editable Datatables </a>

<a href="table_datatables_ajax" > Ajax Datatables </a>


<a href="portlet_boxed" >
  <span class="title">Boxed Portlets</span>
</a>

<a href="portlet_light" >
  <span class="title">Light Portlets</span>
</a>

<a href="portlet_solid" >
  <span class="title">Solid Portlets</span>
</a>

<a href="portlet_ajax" >
  <span class="title">Ajax Portlets</span>
</a>

<a href="portlet_draggable" >
  <span class="title">Draggable Portlets</span>
</a>

<a href="charts_amcharts" >
  <span class="title">amChart</span>
</a>

<a href="charts_flotcharts" >
  <span class="title">Flot Charts</span>
</a>

<a href="charts_flowchart" >
  <span class="title">Flow Charts</span>
</a>

<a href="charts_google" >
  <span class="title">Google Charts</span>
</a>

<a href="charts_echarts" >
  <span class="title">eCharts</span>
</a>

<a href="charts_morris" >
  <span class="title">Morris Charts</span>
</a>

<a href="charts_highcharts" > HighCharts </a>

<a href="charts_highstock" > HighStock </a>

<a href="charts_highmaps" > HighMaps </a>

<a href="maps_google" >
  <span class="title">Google Maps</span>
</a>

<a href="maps_vector" >
  <span class="title">Vector Maps</span>
</a>

<a href="layout_language_bar" >
  <span class="title">Header Language Bar</span>
</a>

<a href="layout_footer_fixed" >
  <span class="title">Fixed Footer</span>
</a>

<a href="layout_boxed_page" >
  <span class="title">Boxed Page</span>
</a>

<a href="layout_blank_page" >
  <span class="title">Blank Page</span>
</a>

<a href="layout_sidebar_menu_accordion" >
  <span class="title">Sidebar Accordion Menu</span>
</a>

<a href="layout_sidebar_menu_compact" >
  <span class="title">Sidebar Compact Menu</span>
</a>

<a href="layout_sidebar_reversed" >
  <span class="title">Reversed Sidebar Page</span>
</a>

<a href="layout_sidebar_fixed" >
  <span class="title">Fixed Sidebar Layout</span>
</a>

<a href="layout_sidebar_closed" >
  <span class="title">Closed Sidebar Layout</span>
</a>

<a href="layout_disabled_menu" >
  <span class="title">Disabled Menu Links</span>
</a>

<a href="layout_full_height_portlet" >
  <span class="title">Full Height Portlet</span>
</a>

<a href="layout_full_height_content" >
  <span class="title">Full Height Content</span>
</a>

<a href="ecommerce_index" >
  <i class="icon-home"></i>
  <span class="title">Dashboard</span>
</a>

<a href="ecommerce_orders" >
  <i class="icon-basket"></i>
  <span class="title">Orders</span>
</a>

<a href="ecommerce_orders_view" >
  <i class="icon-tag"></i>
  <span class="title">Order View</span>
</a>

<a href="ecommerce_products" >
  <i class="icon-graph"></i>
  <span class="title">Products</span>
</a>

<a href="ecommerce_products_edit" >
  <i class="icon-graph"></i>
  <span class="title">Product Edit</span>
</a>

<a href="app_todo" >
  <i class="icon-clock"></i>
  <span class="title">Todo 1</span>
</a>

<a href="app_todo_2" >
  <i class="icon-check"></i>
  <span class="title">Todo 2</span>
</a>

<a href="app_inbox" >
  <i class="icon-envelope"></i>
  <span class="title">Inbox</span>
</a>

<a href="app_calendar" >
  <i class="icon-calendar"></i>
  <span class="title">Calendar</span>
</a>

<a href="javascript:;" class="nav-link nav-toggle">
  <i class="icon-user"></i>
  <span class="title">User</span>
  <span class="arrow"></span>
</a>

<a href="page_user_profile_1" >
  <i class="icon-user"></i>
  <span class="title">Profile 1</span>
</a>

<a href="page_user_profile_1_account" >
  <i class="icon-user-female"></i>
  <span class="title">Profile 1 Account</span>
</a>

<a href="page_user_profile_1_help" >
  <i class="icon-user-following"></i>
  <span class="title">Profile 1 Help</span>
</a>

<a href="page_user_profile_2" >
  <i class="icon-users"></i>
  <span class="title">Profile 2</span>
</a>

<a href="javascript:;" class="nav-link nav-toggle">
  <i class="icon-notebook"></i>
  <span class="title">Login</span>
  <span class="arrow"></span>
</a>

<a href="page_user_login_1"  target="_blank"> Login Page 1 </a>

<a href="page_user_login_2"  target="_blank"> Login Page 2 </a>

<a href="page_user_login_3"  target="_blank"> Login Page 3 </a>

<a href="page_user_login_4"  target="_blank"> Login Page 4 </a>

<a href="page_user_login_5"  target="_blank"> Login Page 5 </a>

<a href="page_user_login_6"  target="_blank"> Login Page 6 </a>

<a href="page_user_lock_1"  target="_blank">
  <i class="icon-lock"></i>
  <span class="title">Lock Screen 1</span>
</a>

<a href="page_user_lock_2"  target="_blank">
  <i class="icon-lock-open"></i>
  <span class="title">Lock Screen 2</span>
</a>

<a href="page_general_about" >
  <i class="icon-info"></i>
  <span class="title">About</span>
</a>

<a href="page_general_contact" >
  <i class="icon-call-end"></i>
  <span class="title">Contact</span>
</a>

<a href="javascript:;" class="nav-link nav-toggle">
  <i class="icon-notebook"></i>
  <span class="title">Portfolio</span>
  <span class="arrow"></span>
</a>

<a href="page_general_portfolio_1" > Portfolio 1 </a>

<a href="page_general_portfolio_2" > Portfolio 2 </a>

<a href="page_general_portfolio_3" > Portfolio 3 </a>

<a href="page_general_portfolio_4" > Portfolio 4 </a>


<a href="javascript:;" class="nav-link nav-toggle">
  <i class="icon-magnifier"></i>
  <span class="title">Search</span>
  <span class="arrow"></span>
</a>

<a href="page_general_search" > Search 1 </a>

<a href="page_general_search_2" > Search 2 </a>

<a href="page_general_search_3" > Search 3 </a>

<a href="page_general_search_4" > Search 4 </a>

<a href="page_general_search_5" > Search 5 </a>


<a href="page_general_pricing" >
  <i class="icon-tag"></i>
  <span class="title">Pricing</span>
</a>

<a href="page_general_faq" >
  <i class="icon-wrench"></i>
  <span class="title">FAQ</span>
</a>

<a href="page_general_blog" >
  <i class="icon-pencil"></i>
  <span class="title">Blog</span>
</a>

<a href="page_general_blog_post" >
  <i class="icon-note"></i>
  <span class="title">Blog Post</span>
</a>

<a href="page_general_invoice" >
  <i class="icon-envelope"></i>
  <span class="title">Invoice</span>
</a>

<a href="page_general_invoice_2" >
  <i class="icon-envelope"></i>
  <span class="title">Invoice 2</span>
</a>

<a href="page_system_coming_soon"  target="_blank">
  <span class="title">Coming Soon</span>
</a>

<a href="page_system_404_1" >
  <span class="title">404 Page 1</span>
</a>

<a href="page_system_404_2"  target="_blank">
  <span class="title">404 Page 2</span>
</a>

<a href="page_system_404_3"  target="_blank">
  <span class="title">404 Page 3</span>
</a>

<a href="page_system_500_1" >
  <span class="title">500 Page 1</span>
</a>

<a href="page_system_500_2"  target="_blank">
  <span class="title">500 Page 2</span>
</a>



<a href="?p=dashboard-2" target="_blank" class="nav-link">
  <i class="icon-user"></i> Arrow Toggle
  <span class="arrow nav-toggle"></span>
</a>


