<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            pause: true,
            interval: false
        });
    });
    $(document).ready(function () {
        $(".col-md-3 ").mouseenter(function () {
            $(this).find(".col-img-responsive02").show(200);
        });
        $(".col-md-3").mouseleave(function () {
            $(this).find(".col-img-responsive02").hide();
        });
    });
</script>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-red">
                            <div class="icon-box">
                                <i class="fa flaticon-pendingitems"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Pending Items</h5>
                            <p> <i class="fa fa-calendar-o"></i> for today</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-green">
                            <div class="icon-box">
                                <i class="fa flaticon-revenuetoachieve"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Revenue to achieve</h5>
                            <p> <i class="fa fa-calendar-o"></i> for this year</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-aqua">
                            <div class="icon-box">
                                <i class="fa flaticon-teustoachieve"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Teus to achieve</h5>
                            <p> <i class="fa fa-calendar-o"></i> for this year</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-blue">
                            <div class="icon-box">
                                <i class="fa flaticon-meetingtoupdate"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Meeting to update</h5>
                            <p> <i class="fa fa-calendar-o"></i> till date</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="row">


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-cyan">
                            <div class="icon-box">
                                <i class="fa flaticon-customeroutstanding"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Customer outstanding</h5>
                            <p> <i class="fa fa-calendar-o"></i> as on date</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-orange">
                            <div class="icon-box">
                                <i class="fa flaticon-idlingcount"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Idling Count</h5>
                            <p> <i class="fa fa-calendar-o"></i> as on date</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-aqua">
                            <div class="icon-box">
                                <i class="fa flaticon-detentioncollected"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Detention Collected</h5>
                            <p> <i class="fa fa-calendar-o"></i> till date</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="promoBox tile-plum">
                            <div class="icon-box">
                                <i class="fa flaticon-underdamage"></i>
                            </div>
                            <h4>0</h4>
                            <h5>Under damage</h5>
                            <p> <i class="fa fa-calendar-o"></i> till date</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa flaticon-previous-arrow"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa flaticon-next-arrow"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-custom-left">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet portlet-bordered">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa flaticon-curriculum"></i>
                        <span class="caption-subject text-uppercase"> Pending Tasks</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Tasks List</th>
                                <th>Pending Task Counts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;">Customer Awaiting Booking.</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=CustomerAwaitingBooking' target='_blank'>1</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">Customer Awaiting BL.</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=CustomerAwatingBL' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="text-align:left;">Pending  Invoices to send.</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=PendingInvoiceToSend' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="text-align:left;">Surcharges to be Expired</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=SurchargesToBeExpired' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td style="text-align:left;">Online BLs Pending for Invoicing</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=OnlineBLPendingforInvoicing' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td style="text-align:left;">Pending Payment Done Online BLs for Receipt</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=PendingPaymentDoneOnlineBLsForReceipt' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td style="text-align:left;">Pending Extension Inv Request</td>
                                <td><a color='blue' href='PendingTaskList.asp?ShowTableFlag=S&FunctionToCall=PendingExtensionInvRequest' target='_blank'>0</a></td>
                            </tr>
                            <tr><td colspan='3'></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>

        <div class="col-md-6 col-custom-right">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet portlet-bordered">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa flaticon-quality"></i>
                        <span class="caption-subject text-uppercase"> Detention Confirmation</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Detention List</th>
                                <th>Detention Counts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;"> No. of Containers returned (GIMT) as per CY.</td>
                                <td><a color='blue' href='DetentionConfirmationList.asp?ShowTableFlag=S&FunToCall=ContainersReturnedCY' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">No. of Container Dispatched (GOFU).</td>
                                <td><a color='blue' href='DetentionConfirmationList.asp?ShowTableFlag=S&FunToCall=ContainerDispatched' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="text-align:left;">NCD customer top 10 outstanding with ageing.</td>
                                <td><a color='blue' href='DetentionConfirmationList.asp?ShowTableFlag=S&FunToCall=NCDoutstandingCustome' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="text-align:left;"> Above deposit customer top 10 outstanding with ageing. </td>
                                <td><a color='blue' href='DetentionConfirmationList.asp?ShowTableFlag=S&FunToCall=AboveDepositCustomer' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td style="text-align:left;"> Daily detention paid </td>
                                <td><a color='blue' href='DailyDetentionPaidList.asp?ShowTableFlag=S&FunctionToCall=DailyDetentionPaid' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td style="text-align:left;"> List of detention invoices generated after GIMT. </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td style="text-align:left;">  Total no. of customers suspended as defaulters (line wise) </td>
                                <td><a color='blue' href='DetentionConfirmationList.asp?ShowTableFlag=S&FunToCall=CustomersSuspendedAsDefaulters' target='_blank'>0</a></td>
                            </tr>
                            <tr><td colspan='3'></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-custom-left">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet portlet-bordered">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa flaticon-imports"></i>
                        <span class="caption-subject text-uppercase">Import</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>List</th>
                                <th>Counts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="3"><b>Import Documentation - Dashboard Alerts</b></td></tr>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;"> Pending Translation </td>
                                <td><a color='blue' href='ImportDetailList.asp?ShowTableFlag=S&FunctionToCall=PendingTranslation' target='_blank'>703</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">   Pending Saudi EDI upload </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="text-align:left;"> Pending Rotation number update</td>
                                <td><a color='blue' href='ImportDetailList.asp?ShowTableFlag=S&FunctionToCall=PendingRotationNumberUpdate' target='_blank'>0</a></td>
                            </tr>
                            <tr><td colspan="3"><b>Import Customer Service - Dashboard Alerts</b></td></tr>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;"> Pending Dos with ageing</td>
                                <td><a color='blue' href='ImportDetailList.asp?ShowTableFlag=S&FunctionToCall=PendingDosWithAgeging' target='_blank'>866</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">Pending Invoices</td>
                                <td><a color='blue' href='ImportDetailList.asp?ShowTableFlag=S&FunctionToCall=PendingInvoices' target='_blank'>3</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="text-align:left;"> Dos issued vs container not picked</td>
                                <td><a color='blue' href='ImportDetailList.asp?ShowTableFlag=S&FunctionToCall=IssuedVsContainer' target='_blank'>15</a></td>
                            </tr>
                            <tr><td colspan="3"></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>

        <div class="col-md-6 col-custom-right">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet portlet-bordered">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa flaticon-exports"></i>
                        <span class="caption-subject text-uppercase"> Export</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>List</th>
                                <th>Counts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="3"><b>Export Documentation - Dashboard Alerts</b></td></tr>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;">  Pending bookings for Manifest </td>
                                <td><a color='blue' href='ExportDetailList.asp?ShowTableFlag=S&FunctionToCall=PendingBookingsManifest' target='_blank'>0</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;"> Pending SaudiEDI manifest upload</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="text-align:left;">Pending Bls for (NYK RORO/NYK Bulk/Rickmers/BLPL)</td>
                                <td></td>
                            </tr>
                            <tr><td colspan="3"><b>Export Customer Service - Dashboard Alerts</b></td></tr>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;">Pending Invoice</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">  Customer Outstanding</td>
                                <td></td>
                            </tr>
                            <tr><td colspan="3"></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- END Portlet PORTLET-->
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-custom-left">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet portlet-bordered">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa flaticon-target"></i>
                        <span class="caption-subject text-uppercase"> Sales / Pricing / Pricing Reports / Customer Service</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>List</th>
                                <th align="center">Counts</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td style="text-align:left;"> Pending bookings for Release Order </td>
                                <td><a color='blue' href='CustomerServiceList.asp?ShowTableFlag=S&FunctionToCall=PendingReleaseOrder' target='_blank'>2</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">Release Order expiring in number of days</td>
                                <td><a color='blue' href='CustomerServiceList.asp?ShowTableFlag=S&FunctionToCall=ReleaseOrderExpiring' target='_blank'>0</a></td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td style="text-align:left;">Release Order issued containers not picked up</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td style="text-align:left;">Long Standing Containers with Shippers</td>
                                <td><a color='blue' href='CustomerServiceList.asp?ShowTableFlag=S&FunctionToCall=LongStandingContainers' target='_blank'>12</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td style="text-align:left;">Rates expiring in next 7 days</td>
                                <td><a color='blue' href='CustomerServiceList.asp?ShowTableFlag=S&FunctionToCall=RatesExpiring' target='_blank'>2</a></td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td style="text-align:left;">SI pending to follow up with customers</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td style="text-align:left;">Budget vs Actual loading in TEUs</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td style="text-align:left;">Sales person wise performance (TEUs)</td>
                                <td><a href='SalesPersonLoadingList.asp?ShowTableFlag=S&FunctionToCall=SalesPersonLoading' target='_blank'>10</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td style="text-align:left;">Customers outstanding</td>
                                <td><a color='blue' href='CustomerServiceList.asp?ShowTableFlag=S&FunctionToCall=CustOS' target='_blank'>5</a></td>
                            </tr>

                            <tr><td colspan="3"></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>

    </div>
</div>