
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="../css/pages/blog.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        
		
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    <div class="theme-panel">
                        <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
                            <i class="icon-settings"></i>
                        </div>
                        <div class="toggler-close">
                            <i class="icon-close"></i>
                        </div>
                        <div class="theme-options">
                            <div class="theme-option theme-colors clearfix">
                                <span> THEME COLOR </span>
                                <ul>
                                    <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                                    <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                                    <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                                    <li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark"> </li>
                                    <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                                </ul>
                            </div>
                            <div class="theme-option">
                                <span> Theme Style </span>
                                <select class="layout-style-option form-control input-small">
                                    <option value="square" selected="selected">Square corners</option>
                                    <option value="rounded">Rounded corners</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Layout </span>
                                <select class="layout-option form-control input-small">
                                    <option value="fluid" selected="selected">Fluid</option>
                                    <option value="boxed">Boxed</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Header </span>
                                <select class="page-header-option form-control input-small">
                                    <option value="fixed" selected="selected">Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Top Dropdown</span>
                                <select class="page-header-top-dropdown-style-option form-control input-small">
                                    <option value="light" selected="selected">Light</option>
                                    <option value="dark">Dark</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Mode</span>
                                <select class="sidebar-option form-control input-small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Style</span>
                                <select class="sidebar-style-option form-control input-small">
                                    <option value="default" selected="selected">Default</option>
                                    <option value="compact">Compact</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Menu </span>
                                <select class="sidebar-menu-option form-control input-small">
                                    <option value="accordion" selected="selected">Accordion</option>
                                    <option value="hover">Hover</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Position </span>
                                <select class="sidebar-pos-option form-control input-small">
                                    <option value="left" selected="selected">Left</option>
                                    <option value="right">Right</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Footer </span>
                                <select class="page-footer-option form-control input-small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- END THEME PANEL -->
                    <h3 class="page-title"> Blog Post
                        <small>blog post samples</small>
                    </h3>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>General</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#">
                                            <i class="icon-bell"></i> Action</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shield"></i> Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-user"></i> Something else here</a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-bag"></i> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->
                    <div class="blog-page blog-content-2">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="blog-single-content bordered blog-container">
                                    <div class="blog-single-head">
                                        <h1 class="blog-single-head-title">Metronic Blog Reborn</h1>
                                        <div class="blog-single-head-date">
                                            <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;">Oct 24, 2015</a>
                                        </div>
                                    </div>
                                    <div class="blog-single-img">
                                        <img src="../assets/pages/img/background/4.jpg" /> </div>
                                    <div class="blog-single-desc">
                                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore siat magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                        <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla et facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                                            zzril delenit augue et duis dolore feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem
                                            insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                                        <p> Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam et processus sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quame nunc putamus
                                            parum claram, siad anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. </p>
                                    </div>
                                    <div class="blog-single-foot">
                                        <ul class="blog-post-tags">
                                            <li class="uppercase">
                                                <a href="javascript:;">Bootstrap</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Sass</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">HTML</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-comments">
                                        <h3 class="sbold blog-comments-title">Comments(30)</h3>
                                        <div class="c-comment-list">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" alt="" src="../assets/pages/img/avatars/team1.jpg"> </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Sean</a> on
                                                        <span class="c-date">23 May 2015, 10:40AM</span>
                                                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" alt="" src="../assets/pages/img/avatars/team3.jpg"> </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Strong Strong</a> on
                                                        <span class="c-date">21 May 2015, 11:40AM</span>
                                                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team4.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Emma Stone</a> on
                                                                <span class="c-date">30 May 2015, 9:40PM</span>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" alt="" src="../assets/pages/img/avatars/team7.jpg"> </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Nick Nilson</a> on
                                                        <span class="c-date">30 May 2015, 9:40PM</span>
                                                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                            </div>
                                        </div>
                                        <h3 class="sbold blog-comments-title">Leave A Comment</h3>
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Name" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Email" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Website" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-square"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn blue uppercase btn-md sbold btn-block">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="blog-single-sidebar bordered blog-container">
                                    <div class="blog-single-sidebar-search">
                                        <div class="input-icon right">
                                            <i class="icon-magnifier"></i>
                                            <input type="text" class="form-control" placeholder="Search Blog"> </div>
                                    </div>
                                    <div class="blog-single-sidebar-recent">
                                        <h3 class="blog-sidebar-title uppercase">Recent Posts</h3>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">Metronic Admin Progress</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">New UI Features</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Lorem Ipsum Dolore Amet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Userfull Pages Released</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-single-sidebar-tags">
                                        <h3 class="blog-sidebar-title uppercase">Tags</h3>
                                        <ul class="blog-post-tags">
                                            <li class="uppercase">
                                                <a href="javascript:;">Bootstrap</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Sass</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">HTML</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">CSS</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Gulp</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Framework</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Admin Theme</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">UI Features</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-single-sidebar-links">
                                        <h3 class="blog-sidebar-title uppercase">Useful Links</h3>
                                        <ul>
                                            <li>
                                                <a href="javascript:;">Lorem Ipsum </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Dolore Amet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Metronic Database</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">UI Features</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Advanced Forms</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-single-sidebar-ui">
                                        <h3 class="blog-sidebar-title uppercase">UI Examples</h3>
                                        <div class="row ui-margin">
                                            <div class="col-xs-4 ui-padding">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/background/1.jpg" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/background/37.jpg" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/background/57.jpg" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/background/53.jpg" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/background/59.jpg" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/background/42.jpg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
           
        
        
        
        
    