html, body {
    /*font-family: 'Segoe UI';*/
    /*background: #f2f3f4;*/
}

    body.navbar-side {
        padding-top: 0;
        padding-left: 60px;
    }

    body.navbar-side-card {
        padding-top: 0;
        padding-left: 120px;
    }

    body.navbar-side-label {
        padding-top: 0;
        padding-left: 180px;
    }

.page-content {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .page-content {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .page-content {
        max-width: 950px;
    }
}

@media (min-width: 1200px) {
    .page-content {
        max-width: 1160px;
    }
}